
      /* STYLES SPECIFIC TO FOOTER  */
      .footer {
        width: 100%;
        position: fixed;
        justify-content: center;
        margin-top: auto;
        left: 0%;
        bottom: 0%;
        height: auto;
        background-color: rgb(218, 222, 218);
      }
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      .footer .col {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; 
      }
      .footer .col h1 {
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-size: 12px;
        line-height: 17px;
        padding: 20px 0px 5px 0px;
        color: rgba(255,255,255,0.2);
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 0.250em;
      }
      .footer .col ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      .footer .col ul li {
        color: #999999;
        font-size: 14px;
        font-family: inherit;
        font-weight: bold;
        padding: 5px 0px 5px 0px;
        cursor: pointer;
        transition: .2s;
        -webkit-transition: .2s;
        -moz-transition: .2s;
      }
      .social ul li {
        display: inline-flex;
        padding-right: 1px !important;
      }
      
      .footer .col ul li:hover {
        color: #ffffff;
        transition: .1s;
        -webkit-transition: .1s;
        -moz-transition: .1s;
      }
      .clearfix {
        clear: both;
      }
      .fa {
        padding: 10px;
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }
    .fa-facebook {
      background: #3B5998;
      color: white;
    }
    .fa-google {
      background: #dd4b39;
      color: white;
    }
    
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    
    .fa-youtube {
      background: #bb0000;
      color: white;
    }
      @media only screen and (min-width: 1280px) {
        .contain {

          width: 1200px;
          margin: 0 auto;
        }
      }
      @media only screen and (max-width: 1139px) {
        .contain .social {
          width: 1000px;
          display: inline;
        }
        .social h1 {
          margin: 0px;
        }
      }
      @media only screen and (max-width: 950px) {
        .footer .col {
          width: 33%;
        }
        .footer .col h1 {
          font-size: 14px;
        }
        .footer .col ul li {
          font-size: 13px;
        }
      }
      @media only screen and (max-width: 500px) {
          .footer .col {
            width: 50%;
          }
          .footer .col h1 {
            font-size: 14px;
          }
          .footer .col ul li {
            font-size: 13px;
          }
      }
      @media only screen and (max-width: 340px) {
        .footer .col {
          width: 100%;
        }
      }